<nav class="block w-full max-w-screen-lg px-4 py-2 mx-auto bg-[#283723] bg-opacity-90 sticky top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-[9999] rounded-2xl">
    <div class="container flex flex-wrap items-center justify-between mx-auto text-slate-800">
      <a href="#"
        class="mr-4 block cursor-pointer py-1.5 text-base text-[#C2976B] font-semibold">
        Study Angular 19
      </a>
      <div class="hidden lg:block">
        <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
          <li class="flex items-center p-1 text-sm gap-x-2 text-[#C2976B]">
            <a routerLink="/" class="flex items-center">Coins</a>
          </li>
          <li class="flex items-center p-1 text-sm gap-x-2 text-[#C2976B]">
            <a routerLink="/users" class="flex items-center">Users</a>
          </li>
        </ul>
      </div>
      <button
        class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
        type="button">
        <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </span>
      </button>
    </div>
</nav>
  
  <div class="content mt-[1.5rem] p-8">
    <!-- <div class="w-full max-w-sm min-w-[200px]">     
      <label class="block mb-1 text-sm text-slate-800">
        Selecione a(s) moeda(s):
      </label> 
      <div class="relative">
        <select class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md appearance-none cursor-pointer"
          (change)="handlerSelectCoinView($event)"
        >
          <option value="" selected>Selecione aqui</option>
          @for(coin of optionsCoinsAvailable; track coin){
            <option value="{{coin}}">{{coin}}</option>
          }
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="h-5 w-5 ml-1 absolute top-2.5 right-2.5 text-slate-700">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
        </svg>
      </div>
    </div>
    
    <div class="content_coins_quotation p-5 border-2 mt-[1.5rem]">
      @if(isLoading()) {
        <span>Loading..</span>
      } @else {
        {{quotationsResource.value() | json}}
      }
    </div> -->
    <router-outlet></router-outlet>
  </div>